
.eventContainer {
  position: relative;
}
.eventCoverImageContainer {
  background-color: #ddd;
}

.eventTitleContainer,
.eventDetailsContainer {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
  color: #FFFFFF;
}

.eventDates {
  list-style: none;
}
.eventDetailsContainer {
  bottom: 0;
}

.eventActions {
  padding-top: 20px;
}
.eventActions .eventButtons {
  list-style: none;
}
.eventActions .eventButtons > li {
  display: inline;
}
.eventActions .eventButtons > li:first-child {
  padding-right:20px;
}

.eventDetailContainer {
  margin-bottom: 40px;
}

.imageGallery {
  padding: 20px 0;
  background-color: #a94442;
  border-top: 6px solid rgb(140, 57, 55);
  color: white;
}
